<div class="go_back"><%= link_to "Back To All Pots", pots_path %></div>

<div id="intro">
  <h1><%= @pot.name %></h1>
  <p>Bakers tend to differentiate themselves from chefs for a reason. Baking is an exact science, but not lacking creativity as many assume. Baking is also perfect for those of us who like to take a "mix-throw-in-oven-and-relax-until-the-buzzer-goes-off" approach to food.</p>
</div>

<%= render 'list_quests' %>