<div class="go_back"><%= link_to "Back To All Pots", pots_path %></div>

<div id="intro">
  <h1><%= @pot.name %></h1>
  <p>Breakfast is the by far the most important meal of the day. Combine it with elements of Lunch and you get the delicious utopia that is Brunch. The Quests here will guarantee that you start your day off with a bang!</p>
</div>

<%= render 'list_quests' %>