<div class="go_back"><%= link_to "Back To All Pots", pots_path %></div>

<div id="intro">
  <h1><%= @pot.name %></h1>
  <p>Ah, sweets. The wonderful pot of gold at the end of the Meal Rainbow. You'll find everything from chocolate madness to homemade icecream in this section. Add that sweet touch to your cooking skills!</p>
</div>

<%= render 'list_quests' %>