<div class="go_back"><%= link_to "Back To All Pots", pots_path %></div>

<div id="intro">
  <h1><%= @pot.name %></h1>
  <p>Most everyone is interested in eating healthy these days. But whoever said eating healthy meant eating boring was DEAD WRONG! Discover how delicious and satisfying good, wholesome food can be.</p>
</div>

<%= render 'list_quests' %>