<div class="go_back"><%= link_to "Back To All Pots", pots_path %></div>

<div id="intro">
  <h1><%= @pot.name %></h1>
  <p>Whether it's to keep yourself fueled throughout the day or you're entertaining guests making snacks and appetizers can be a good stepping stone towards bigger dishes. Their smaller size means you can focus on the flavor instead of coordinating dishes in the kitchen.</p>
</div>

<%= render 'list_quests' %>