<div class="go_back"><%= link_to "Back To All Pots", pots_path %></div>

<div id="intro">
  <h1><%= @pot.name %></h1>
  <p>More and more people are making the change to a vegetarian lifestyle. Vegetarian cuisine used to associated with heavy carb and cheese dishes. While we here at Skillet still enjoy that classic vegetarian comfort food, we also want to educate people about all the delicious possibilities that come with being a vegetarian. Explore and discover for yourself!</p>
</div>

<%= render 'list_quests' %>