<%= form_for(@feed_item) do |f| %>
  <% if @feed_item.errors.any? %>
    <div id="error_explanation">
      <% @feed_item.errors.full_messages.each do |msg| %>
      <p>ERROR: <%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <% if @feed_item.errors.any? == false%>
  <div class="actions approval_submit_btn">
    <%= f.submit "Approve"%>
  </div>
  <% end %>

<% end %>
