// Place all the styles related to the FeedItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.approval_form_p .submitee {
  color: #19bebe;
}

#error_explanation {
  p {
    margin: 20px 60px;
    max-width: 500px;
    background-color: #F46F22;
    padding: 20px;
    color: white;
  }
}

#back_to_feed {
  padding: 20px 60px;

  .back_to_feed_link {
    font-family: 'ostrich_sans_inlineregular', sans-serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    background-color: #19bebe;
    color: white;
    padding: 10px 12px;
  }
}