// Place all the styles related to the FeedItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back_to_feed {
  padding: 20px 60px;

  .back_to_feed_link {
    font-family: 'ostrich_sans_inlineregular', sans-serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    background-color: #19bebe;
    color: white;
    padding: 10px 12px;
  }
}


